#main-container {
  display: grid;
  height: 100%;
  margin: auto;
  width: 100%;
}

.instrument-section {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 90%;
}

.instrument-section * {
  font-size: large;
}

.instrument-title {
  font-weight: bold;
  height: var(--small-square-size);
}

.right-title-icon-div,
.instrument-section .btn,
.track-control {
  height: 100%;
}

.instrument-section .icon {
  height: 90%;
}

.instrument-title {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
  width: 100%;
}

.left-title-icon-div,
.right-title-icon-div {
  height: 100%;
  position: absolute;
}

.left-title-icon-div {
  left: 0;
}

.right-title-icon-div {
  right: 0;
}

.board {
  max-width: 90vw;
  overflow-x: scroll;
}

.main-flex {
  display: flex!important;
  flex-direction: column;
}

.zero-auto {
  margin: 0 auto;
}

.minimized {
  height: 10vh;
}

.maximized {
  height: 70vh;
}
