@import './modal.css';
@import './Settings.css';

#container {
  display: grid;
  grid-template-rows: 1fr 9fr;
  height: 100%;
  width: 100%;
}

.icon {
  cursor: pointer;
}

.hidden {
  display: none;
}
