@import './root.css';
@import './setup.css';
@import './instruments.css';
@import './instrument-sections.css';
@import './info-sections.css';
@import './boards.css';

#container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  width: 100vw;
}

.hidden {
  display: none;
}

#synth {
  background-color: black;
  color: white;
  left: 50%;
  position: absolute;
}

#synth:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
