/*@import './header.css';*/

@font-face {
  font-family: 'roboto';
  src: url('../assets/fonts/Roboto-Thin.ttf');
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'roboto';
  src: url('../assets/fonts/Roboto-Regular.ttf');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'roboto';
  src: url('../assets/fonts/Roboto-Medium.ttf');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'roboto';
  src: url('../assets/fonts/Roboto-Bold.ttf');
  font-weight: 900;
  font-display: swap;
}

* {
  font-family: roboto, sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #616161; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #9bc5c3,
    #616161
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #9bc5c3,
    #616161
  ) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  width: 100vw;
}

#setup-container {
  display: flex;
  justify-content: center;
}

.setup-input-div {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#all-instrument-sections {
  height: 80%;
  margin: auto;
}

.instrument {
  display: grid;
}

.instrument-section,
.info-section {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100%;
  width: 100%;
}

.instrument-button-section,
.info-btn {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.instrument-button-section .audio {
  align-items: center;
  background-color: #f78259;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 100%;
}

.board {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.board-title {
  display: flex;
  position: relative;
  text-align: center;
}

.board-title h3 {
  color: #fff;
  background-color: #f78259;
  width: 100%;
}

.board .play-btn {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board .play-btn .btn {
  background-color: #f78259;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  height: 60px;
  position: relative;
  width: 60px;
}

.board .play-btn .play {
  display: block;
}

.board .play-btn .play:before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: 15px;
  left: 22px;
  border-top: 15px solid transparent;
  border-left: 20px solid #fff;
  border-bottom: 15px solid transparent;
}

.board .play-btn .stop {
  display: none;
}

.board .play-btn .stop:before {
  content: '';
  width: 24px;
  height: 24px;
  background-color: #fff;
  position: absolute;
  top: 18px;
  left: 18px;
}

.board .play-btn .not-active {
  opacity: 0.5;
}

.board .play-btn .not-active:hover {
  cursor: default;
}

.row,
.info-measure {
  width: 100%;
  height: 100%;
  justify-content: space-around;
    display: flex;
}

.board .row .square {
  border: 1px solid;
  cursor: pointer;
  height: 100%;
  transition: all 0.2s;
  width: 100%;
}

.board .row .active-btn {
  transform: scale(1.2);
}

.board .row .drums-tom-1,
.board .row .drums-tom-2 {
  background-color: #00b7d4;
  opacity: 0.3;
}

.board .row .drums-clap-1,
.board .row .drums-clap-2 {
  background-color: #ff80ff;
  opacity: 0.3;
}

.board .row .drums-kick-1,
 .board .row .drums-kick-2 {
  background-color: #cde800;
  opacity: 0.3;
}

.board .row .drums-closed-hihat-1,
.board .row .drums-closed-hihat-2 {
  background-color: #ff6961;
  opacity: 0.3;
}

.board .row .drums-open-hihat-1,
.board .row .drums-open-hihat-2 {
  background-color: #7659f7;
  opacity: 0.3;
}

.board .row .drums-boom-1,
.board .row .drums-boom-2 {
  background-color: #ff962e;
  opacity: 0.3;
}
.board .row .drums-ride-1,
.board .row .drums-ride-2 {
  background-color: #20e381;
  opacity: 0.3;
}

.board .row .drums-snare-1,
 .board .row .drums-snare-2 {
  background-color: #1d56b8;
  opacity: 0.3;
}

.board .row .play {
  opacity: 1;
}

.info-measure {
  border: 1px solid;
}

.info-beat {
  align-items: flex-end;
  display: flex;
}

.board-title-icon-div {
  cursor: pointer;
  height: 100%;
  position: absolute;
  right: 0;
}

.selected {
  height: 80%;
  left: 50%;
  top: 50%;
  overflow: auto;
  position: fixed;
  transform: translate(-50%, -50%);
  width: 90%;
  z-index: 1;
}

.hidden {
  display: none;
}

#synth {
  background-color: black;
  color: white;
  left: 50%;
  position: absolute;
}

#synth:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
